.editprofilecontainer
{
	width: 100%;
	height: auto;
	font-family: sans-serif;
	font-size: large;
	font-display: fallback;
}
.formlapp3
{
	width: 40%;
	height: auto;
	background-color: floralwhite;

}
.squeezdiv
{
  width: 100%;
  height: auto;
  margin-left: 15%;
  background-color: blue;
}
.inputlapper2
{
	margin: 5%;
}