.out
{
	width: 100%;
	height: auto;
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 5%;
	margin-top: 2%;
	text-align: center;
}
.buttonleft
{
	margin-top: 29%;
	width: auto;
	height: auto;
}
.images
{
	width: 500px;
	height: auto;
}
.buttonright
{
  margin-left: 630px;
  margin-top: 29%;
  width: auto;
  height: auto;
	
}
.divbuttons
{
	display: inline-flex;
	flex-wrap: wrap;
}
.inputb
{
	width: auto;
	height: 40px;
	font-family: sans-serif;
	font-size: xx-large;
	border-collapse: collapse;
	background-color: transparent;
	border: 0px solid transparent;
}
.inputb:hover
{
	background-color: whitesmoke;
}
.moveleft
{
	margin-left: 10%;
}

