.container-nav{
	
	background-color: white;
	border-radius: 5px;
	width: 100%;
	height: auto;
	border: 1px solid ghostwhite;
	box-shadow: 2px 2px 2px grey;
	top: -15px;
	


}
.container-nav:hover{
	box-shadow: 2px 2px 2px yellowgreen;
	background-color: #f8f8f8;
}
.nav-ac{
	display: flex;
	flex-wrap: wrap;
	
}
.bar-row{
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.logo{
	width: 70px;
	height: 70px;
	border-radius: 100px;
	margin-left: 10px;
	margin-top: 6px;
	flex-wrap: wrap;
	display: flex;
}
.logo:hover{
	box-shadow: 1px 1px grey;
	background: white;
}
.brand-name{
	margin: 30px;
	margin-left: 15px;
	margin-top: 40px;
	font-family: sans-serif;
	font-size: large;
	color: black;
}
.list-div{
	margin-left: auto;
	flex-wrap: wrap;
	display: inline-flex;

}
.gopages{
	display: inline-grid;
	flex-wrap: wrap;
	margin: 20px;
}
.listing{
	margin-right: 20px;
}
.link{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: large;
}
.link:hover{
	border: 1px solid ghostwhite;
	border-width: 10px;
	color: red;
	text-decoration: underline;
}
.inputbox{
	border: 1px solid ghostwhite;
	border-color: ghostwhite;
	border-radius: 7px;
	background-color: white;
	color: black;
	border-collapse: collapse;
	width: 200px;
	height: 30px;
	box-shadow: 1px 1px grey;
}
.inputbutton-2{
	border: 1px solid ghostwhite;
	border-color: ghostwhite;
	border-radius: 7px;
	background-color: white;
	height: 30px;
	background-color: orange;
	width: 100px;

}
.inputbox:hover{
	box-shadow: 2px 2px blue;

}
.inputbutton-2:hover{
	background-color: darkgrey;
	color: white;
}
.hearder-feature{
	margin-top: 40px;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	display: inline-grid;
	border-radius: 5px;
}
.element-feature{

	flex-wrap: wrap;
	display: inline-grid;
	width: 400px;
	height: auto;
	margin: 50px;
	margin-left: 10%;
	border-radius: 5px;
}
.row-boxs{
	display: inline-flex;
	flex-wrap: wrap;
}
.show-image{
	width: 500px;
	height: 400px;
	border-radius: 5px;
}
.heading{
	font-family: sans-serif;
	font-display: fallback;
	
}
.heading-contents{
	margin-left: 20%;
	display: flex;
	flex-wrap: wrap;
}
h1{
	font-weight: 500;
	font-size: xx-large;
}
p{
	font-weight: 400;
	font-size: large;
}
.buttons-get{
	font-family: sans-serif;
	font-size: large;
	background-color: blue;
	color: white;
	width: auto;
	height: 40px;
	border-collapse: collapse;
	border-color: blue;
	border: 0px solid;
	border-radius: 5px;
	margin-left: 100px;
	margin-top: 5px;
	padding-top: 10px;
	padding: auto;
	margin-bottom: 10px;
	text-decoration: none;

}
.buttons-link{
	text-decoration: none;
	
}
.buttons-get:hover{
	background-color: orange;
	color: black;
	box-shadow: 2px 2px 2px grey;
	text-decoration: none;
}
.video-show{
	width: 100%;
	height: auto;
	border-radius: 100%;

}
.image-show{
	display: inline-grid;
	flex-wrap: wrap;
	margin-right: 10px;
}
.background
{
	background-color: white;
	height: auto;
}






